.dogs {
  display: flex;
  height: 80vh;
  overflow: auto;
  background-color: #eeeeee;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 65px;
  top: 646px;
  left: 1017px;
  border-radius: 8px;


  span {
    margin-right: 10px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 81px;
    height: 40px;
    top: 646px;
    left: 1086px;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0px 0px 6px 0px rgb(0, 0, 0);

    svg {
      width: 15px;
      height: 24px;
      top: 654px;
      left: 1099px;
    }
  }

}
